
.foodbodySection {
  background-color: #010101;
  margin: 0;
  padding: 0;
  text-align: left;
  justify-content: center;
}

.foodSectionDiv {
  position: relative;
  width: 100vw;
  height: 60vh;
  overflow: hidden;
}

.foodSectionDiv img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.foodtexthead {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0;
  font-family: 'Josefin Sans'; 
  font-style: normal;
  font-weight: 400;
  font-size: 52px; 
}


.foodtextheadsmall {
  position: relative;
  padding-top: 5%;
  margin-left: 4%;
 margin-right: 6%;
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  text-align: left; 
  color: #FFFFFF;
}

.foodparaone {
 margin-left: 4%;
 margin-right: 6%;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: justify;
  color: #FFFFFF;
}