

.valuesmainDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.valuesfirstDiv{
  text-align: center;
  padding-top: 10%;
}

.logoDiv{ 
  text-align: center;
  margin: 5%;
  width: 50%;
}
.logoTextDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.logoTxtHeader{ 
  color: #ECA533;
  font-size: 32px;
  /* font-family: 'Josefin Sans'; */
  font-family: 'Regular';
  /* font-family: 'Montserrat'; */
  font-weight: 600;
  margin-top: 20px;
}
.img{
  height: 100px;
  width: 100px;
}
.logoTxtParagraph{ 
  font-size: 21px;
  /* font-family: 'Montserrat'; */
  font-family: 'Light';

  margin-top: -30px;
}
.firstDivHeader{
  font-family: 'Josefin Sans';
  font-weight: 700;
  font-size: 45px;
}

.firstDivParagraph{
  font-family: 'Montserrat';
  font-weight: 100;
  font-size: 24px;
  margin-top: -30px;
}


/* @media (max-width:481px)  { 
  .logoTextDiv{
      flex-direction: column;
  }
  .logoDiv{
      align-self: center;

  }
} */

@media (max-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
  .logoTextDiv{
      flex-direction: column;
      padding: 5%;
      margin-top: -5%;
  }
  .logoDiv{
      align-self: center;
      /* margin-top: -3%; */
  }
  .firstDivHeader{
      margin-top: 20%;
      font-size: 26px;
  }
  .firstDivParagraph{
      font-size: 18px;
  }
  .logoTxtParagraph{
    font-size: 13px;
    font-weight: 100;
  }
  .logoTxtHeader{
    font-size: 16px;
    margin-top: 10px;
  }
  .img{
    height: 50px;
    width: 50px;
  }
}