
 
.TeamMember{
    height: 250px;
    width: 250px;
    border-radius: 5px;
}

.teamMemberDiv{
    text-align: center;
    margin: 3%;
}

.teamMemberName{
    font-size: 16px;
    position: relative;
    margin-bottom: 3%;
}
.hoverText{
    color: #fff;
    text-align: center;
}

.teamnameDiv{
    z-index: 1;
    margin-top: -25%;
}
.hoverEffect{
    width: 250px;
    z-index: 1;
    text-align: center;
    margin-top: -98%;
    display: none;
}

.hoverTextData{
    font-size: 16px;
    font-family: 'Montserrat';
    margin-bottom: 3px;
    text-align: left;

}
    /* style={{fontSize:'10',fontFamily: 'Montserrat', marginBottom:'0', textAlign:'left'}} */


.teamMemberDiv:hover .hoverEffect {
    display: block;
    text-align: justify;
    color: #fff;
    font-weight: bold;
    opacity: 1;
}
.teamMemberDiv:hover .teamMemberName {
    display: none;
}
.teamMemberDiv:hover .TeamMember {
    text-shadow: 1px;
    opacity: 0.3;
}





/* .myDIV:hover + .hide {
    display: block;
    color: red;
  } */