

.firstDiv {
  text-align: center;
  padding-top: 10%;
  padding-left: 5%;
  padding-right: 5%;
  justify-content: center;


  /* background-color: aquamarine; */
}

.maltsubHeading {
  font-size: 28px;
  font-weight: bold;
  line-height: 1px;
  letter-spacing: 1px;
  margin-top: 4%;
}

.maltparagraph {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;

}

.imgTxtcontentDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}

.maltdivText {
  text-align: left;
  /* width: 60%; */
}

.threeImageDiv {
  display: flex;
  flex-direction: row;
}

.maltImglogo {
  width: 400px;
  height: 400px;
  object-fit: contain;
  align-self: center;
}

.maltImglogo2 {
  width: 200px;
  height: 200px;
  object-fit: contain;
  align-self: center;
  margin-right: 30px;
}
