/* Keyframe for fadeIn animation with ease-in-out */
@keyframes fadeInZoom {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.fadeInZoom {
  opacity: 0;
  animation: fadeInZoom 1s ease-in-out forwards;
}

.ourProcessMainDiv {
  background-color: #010101;
  margin: 0;
  padding-top: 9%;
}

.ourProcess-process-container {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 5%;
  text-align: center;
  color: #FFFFFF;
}

.ourProcess-process-title {
  margin-bottom: 20px;
}

.ourProcess-process-container h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  margin-bottom: 5%;

}

.ourProcess-process-container p {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  text-align: justify;
  line-height: 1.5;
  margin-top: 5%;
  padding: 5%;
}

.ourProcess-process-container h4 {
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.3em;
  color: #FFFFFF;
  margin-top: 5%;
  margin-bottom: 2%;
}

.ourProcess-process-wrapper,
.ourProcess-process-wrappers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.ourProcess-process-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.ourProcess-process-description {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 17px;
  line-height: 1.5;
  color: #FFFFFF;
  flex: 1;
  margin: 5%;
}

.ourProcess-process-title {
  font-family: 'Josefin Sans';
  font-weight: 700;
  font-size: 24px;
  margin-top: 5%;
}

.ourProcess-process-title-main {
  font-family: 'Josefin Sans';
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 3px;
}

.ourProcess-pre-blending-description {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

.plantunittitle {
  font-family: 'Josefin Sans';
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 5%;
  margin-top: 10%;
}

/* Responsive design */

@media (max-width: 1440px) and (min-width: 1200px) {
  .ourProcess-process-container {
    width: 90%;
  }

  .ourProcess-process-wrapper {
    flex-direction: row;
  }

  .ourProcess-process-wrappers {
    flex-direction: row;
  }

  .ourProcess-process-image img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
  }





}


@media (max-width: 1024px) {

  .ourProcess-process-wrapper {
    flex-direction: column;
  }

  .ourProcess-process-wrappers {
    flex-direction: column-reverse;
  }

  .ourProcess-process-container {
    width: 90%;
  }

  .ourProcess-process-container h4 {
    font-size: 20px;
  }

  .ourProcess-process-container h1 {
    font-size: 32px;
  }

  .ourProcess-process-title {
    font-size: 24px;
  }

  .ourProcess-process-description {
    padding: 15px;
  }

  .plantunittitle {
    font-size: 26px;
    margin-top: 10%;
    margin-bottom: 10%;
  }
}

@media (max-width: 768px) {

  .ourProcess-process-wrapper {
    flex-direction: column;
    margin-top: 20%;
  }

  .ourProcess-process-wrappers {
    flex-direction: column-reverse;
    margin-top: 20%;

  }

  .ourProcess-process-container {
    width: 100%;
    margin-top: 20%;
    padding-right: 5%;
    padding-left: 5%;

  }

  .ourProcess-process-container h4 {
    font-size: 16px;
  }

  .ourProcess-process-container h1 {
    font-size: 28px;
  }

  .ourProcess-process-title {
    font-size: 18px;
  }

  .ourProcess-process-description {
    padding: 10px;
  }

  .plantunittitle {
    font-size: 24px;
    margin-top: 15%;
    margin-bottom: 15%;
  }
}