/* .wide-image-back {
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: black;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    right: 0;
    top: 0;
}

.top-image-container {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.wide-text-wrap {
    width: 50%;
    text-align: center;
}

.banner-title {
    font-family: Krona One;
    font-size: 32px;
    font-weight: 400;
    line-height: 67.35px;
    letter-spacing: 0.07em;
    color: #9A1112;
}

.banner-summary {
    color: #ffffff;
    font-family: Fredoka;
    font-size: 32px;
    font-weight: 300;
    line-height: 39.75px;
    letter-spacing: 0.09em;
}

.banner-logo {
    width: 50%;
}

@media only screen and (max-width: 767px) {
    .top-image-container {
        flex-direction: column;
    }

    .wide-text-wrap {
        width: 100%;
    }

    .banner-logo {
        width: 70%;
        aspect-ratio: 3/2;
    }

    .banner-title {
        font-family: Krona One;
        font-size: 22px;
        font-weight: 400;
        line-height: 67.35px;
        letter-spacing: 0.07em;
        color: #9A1112;
    }

    .wide-image-wrap>img {
        width: 100%;
        height: auto;
        padding-left: 8%;
    }

    .banner-summary {
        color: #ffffff;
        font-family: Fredoka;
        font-size: 20px;
        font-weight: 300;
        line-height: 20px;
        letter-spacing: 0.09em;
    }
}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) and (max-width: 1200px) {} */

.bottleImgLogo{
    height: 40%;
    width: 50%;
}
.bottleImg{
    height: 90vh;
    width: auto;
}
.bottleImgfirst{
    margin-right: 10%;
}
.section2BotleImg{
    height: 90vh;
    width: auto;
}
.favBotGroupImg{
    margin-bottom: -15% 
}
.acpoldpagesRowDiv {
    display: flex;
}
.acpremium5ImgDiv{
    justify-content: center;
    display: flex;
    height: 50%;
    margin-top: 5%;
}
.acpremiumleftrightDiv{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    place-self: center;
    justify-content: center;
    margin: 5% 0;
}
.premiumleftarrowDiv{
    text-align: right;
    align-self: center;
}
.leftImgBtn{
 height: 150px;
 margin-left: 25px;
 margin-right: 25px;
}
.rightImgBtn{
    height: 150px;
    margin-left: 5px;
}
.acparrowSize{
    font-size: 55px;
}
.premiumrightarrow{
    text-align: left;
    align-self: center;
}
.acpsecDiv{
    margin-left: 80px;
    display: flex;
    align-items: center;
    width: 50%;
    flex-direction: column;
}

.img-dec {
    height: 80% !important;
}

/* //flavour icon */
.profile-icon-wrap {
    display: flex;
    gap: 30px;
}

.profile-icon-wrap > div {
    color: #FFFFFF;
    width: calc(100% / 4);
    height: auto;
    font-family: Josefin Sans;
    font-size: 16px;
    font-weight: 300;
    line-height: 24.29px;
    letter-spacing: 0.07em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.profile-icon-1::before, 
.profile-icon-2::before,
.profile-icon-3::before,
.profile-icon-4::before {
    content: '';
    display: inline-block;
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: cover;
    width: 70px;
    height: 110px;
}

.profile-icon-1::before {
    background-image: url('../../../../Assets//Products/Liquor/AcpremiumOld/elegant.svg');
}
.profile-icon-2::before {
    background-image: url('../../../../Assets//Products/Liquor/AcpremiumOld/sweet.svg');
}
.profile-icon-3::before {
    background-image: url('../../../../Assets//Products/Liquor/AcpremiumOld/deep.svg');
}
.profile-icon-4::before {
    background-image: url('../../../../Assets//Products/Liquor/AcpremiumOld/smooth.svg');
}



.pagesTextDiv {
    /* margin-top: -30%; */
    width: 50%;
    padding: 0 60px;
}

.pagesTextFavorDiv {
    width: 60%;
    padding-left: 60px;
}

.pagesTextbetween {
    display: flex;
    padding: 5%;
    flex-direction: column;
    /* justify-content: space-around; */
    /* align-self: flex-end; */
}
.acppremiumfifthhDiv {
    height: 50vh;
    display: flex;
    flex-direction: column;
  }


.acppremiumleftArrowDiv {
    border-color: white;
    padding: 1%;
    color: #FFFFFF;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    border-left-color: black;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
    display: flex;
    text-align: right;
    align-self: center;
  }
  
  .acppremiumrightArrowDiv {
    border-color: white;
    padding: 1%;
    color: #FFFFFF;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    border-right-color: black;
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
    display: flex;
    align-self: center;
  }
  
  .acppremiumarrowHeading {
    font-size: 21px;
    margin-bottom: 0%;
  }
   
  

.pagesTextDivTwo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.acpoldSecondHeading {
    color: #9A1112;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    letter-spacing: 3px;
    margin-left: 40px;

    /* line-height: 30px; */
}

.acpoldParagraph {
    color: #FFFFFF;
    width: 100%;
    font-family: 'Josefin Sans';
    font-size: 1.8rem;
    letter-spacing: 1px;
    font-family: 'Light';
    text-align: center;
    max-width: 90%;
    margin-left: 40px;

    /* line-height: 15px; */
    /* margin-left: 60px; */

}

.sectionTwoHeading {
    color: #FFFFFF;
    font-weight: 400;
    font-style: normal;
    font-family: "Krona One", sans-serif;
    font-size: 2.2rem;
    letter-spacing: 1px;
    line-height: 10px;
    text-align: end;
}

.sectionTwoParagraph {
    color: #FFFFFF;
    width: 90%;
    font-family: 'Josefin Sans';
    font-size: 1.8rem;
    letter-spacing: 1px;
    font-family: 'Light';
    text-align: right;
    max-width: 100%;
}

.sectionTwoParagraph span {
    color: #FFFFFF;
    font-family: 'Josefin Sans';
    font-size: 1.8rem;
    letter-spacing: 1px;
    font-family: 'Regular';
    text-decoration: none;
    text-align: right;
    max-width: 100%;
}

/* <style>
.acpremiumfirstSectionImage {
    background-image: url(/src/Assests/acpremiumfirstsection.png);
    width: 100%;
    height: auto;
    /* background-size: 10%; */
/* background-repeat: no-repeat; */
/* max-width: 100vw; */
/* max-height: 100vh; */
/* background-size: contain; */
/* background-position: right; */
/* place-items: center; */
/* display: block; */
/* text-align: center; */
/* object-fit: cover; */
/* aspect-ratio: 16 / 8.71; */
.acpremiumfirstSectionImage {
    background-image: url('../../Assests/acpremiumfirstsection.png');
    /* width: 100vw;
        height: 100vh;
        max-width: 100vw;
        max-height: 100vh;
        background-size: cover;
        background-position: right;
        place-items: center; */
        width: 100%;
    height: auto;
    background-repeat: no-repeat;
        background-size: contain;
        place-items: center;
        aspect-ratio: 16 / 8.71;
        /* display: block; */
        /* background-position: ; */
        /* padding-top: 50%;
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
        */
        /* text-align: center; */
}

.acpremiumsecondSectionImage {
    background-image: url('../../Assests/acpremiumsecontiontwoBg.png');
    /* width: 100vw;
    height: auto;
    padding-top: 50%;
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
        */
        /* width: 100vw;
        height: 100vh;
        max-width: 100vw;
        max-height: 100vh;
        background-size: cover;
        background-position: left;
        place-items: center; */
        width: 100%;
        height: auto;
    background-repeat: no-repeat;
    background-size: contain;
        place-items: center;
        aspect-ratio: 16 / 8.71;
}

.acpremiumfourthSectionImage {
    /* background-image: url('../../Assests/Products/aristoprembg.png'); */
        background-image: url('../../Assests/aristoprembg1.png');
        /* width: 100vw;
    height: auto;
    padding-top: 45%;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
        */
        /* width: 100vw;
        height: 100vh;
        max-width: 100vw;
        max-height: 100vh;
        background-size: auto;
        background-position:right;
        background-repeat: no-repeat;
        place-items: center; */
        width: 100%;
        height: auto;
        background-repeat: no-repeat;
        background-size: contain;
        place-items: center;
        /* aspect-ratio: 16 / 8.71; */
        aspect-ratio: 16 / 8.71;
}

.sectionThree {
    display: flex;
    flex-direction: row;
    height: 100vh;
    /* align-items: center; */
    justify-content: space-between;
}

.sectionThree > div:nth-child(odd) {
    position: relative;
    top: -28px;
    z-index: -1;
}

.flavourDiv {
    width: 45%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}

.curtainImage {
    transform: scaleX(-1);
}

.image {
    width: 100%;
    height: auto;
}

.imageText {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.logoText {
    height: 7%;
    width: 7%;
    margin-right: 3%;
}

.logoTextParagraph {
    text-align: left;
    color: #FFFFFF;
    font-weight: 100;
    font-style: normal;
    font-family: 'Light';
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 15px;
    opacity: 0.6;
}

.flavourDivHeader {
    color: #FF0002;
    font-family: "Krona One", sans-serif;
    font-size: 40px;
    opacity: 0.2;
    letter-spacing: 1px;
}

.pagesTextFavorDivHeader {
    color: #FFFFFF;
    font-family: "Krona One", sans-serif;
    font-size: 40px;
    width: 60%;
    letter-spacing: 1px;
    text-align: left;
    line-height: 35px;
}


/* secondpage styles */
.acpoldSecondPageSectionOneImage {
    background-image: url('../../../../Assets/Products/Liquor/AcpremiumOld/sc1background.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    place-items: center;
        /* aspect-ratio: 16 / 8.71; */
}

.acpScondSectionTwoImage {
    background-image: url('../../../../Assets/Products/Liquor/AcpremiumNew/acpsecondpageBg.png');
    /* width: 100vw;
    height: auto;
    padding-top: 50%;
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
        */
    /* width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    /* width: 100%; */
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    place-items: center;
        /* aspect-ratio: 16 / 8.71; */
}

.acpsecondfourthSectionImage {
    background-image: url('../../../../Assets/Products/Liquor/AcpremiumNew/acpforthsecImg.png');
    /* width: 100vw;
    height: auto;
    padding-top: 30%;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
        */ 
        /* width: 100%; */
        height: 100vh;
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
        place-items: center;
        display: flex;
        /* aspect-ratio: 16 / 8.71; */
}

@media only screen and (min-width: 768px) and (max-width: 991px){

    .acpremium-container > div {
        padding: 0 15px;
    }

    .acpoldSecondPageSectionOneImage {
        width: 100%;
        height: auto;
        padding-top: 55px;
    }

    .acpsecDiv {
        margin: 0;
    }

    .acpsecDiv > img {
        width: 100%;
        height: auto;
    }

    .acpoldSecondHeading {
        text-align: center;
        margin: 0;
    }

    .acpoldParagraph,
    .sectionTwoHeading {
        max-width: unset;
    }

    .bottleImg,
    .section2BotleImg {
        height: auto;
        width: 50%;
    }

    .acpScondSectionTwoImage,
    .sectionThree ,
    .acpsecondfourthSectionImage,
    .acppremiumfifthhDiv,
    .acpremium5ImgDiv > img {
        width: 100%;
        height: auto;
    }

    .pagesTextDiv {
        margin: 0;
        padding: 0;
    }

    .sectionThree > div:nth-child(odd) {
        position: relative;
        top: -16px;
    }

    .flavourDivHeader {
        padding-top: 40px;
    }

    .flavourDiv {
        width: 100%;
        justify-content: unset;
        gap: 40px;
    }
}

@media only screen and (max-width: 767px) {
    .acpoldpagesRowDiv {
        padding: 90px 15px 0 15px;
    }

    .acpoldpagesRowDiv {
        flex-direction: column;
        text-align: center;
        height: auto;
    }

    .acpsecDiv{
        margin-left: 0;
        width: 100%;
    }

    .bottleImgLogo,
    .bottleImg,
    .section2BotleImg {
        width: 100%;
        height: auto;
    }

    .acpoldSecondHeading {
        font-size: 20px;
        margin-left: 0;
        line-height: 22px;
    }

    .acpoldParagraph {
        text-align: center;
        margin: 0;
    }
        
    .pagesTextDivTwo {
        flex-direction: column-reverse;
        text-align: center;
        height: auto;
        padding: 0 15px;
    }
    
    .pagesTextDiv {
        width: 100%;
        padding: 0;
    }

    .sectionTwoHeading {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 10px;
        max-width: 100%;
        text-align: center;
    }
    
    .sectionTwoParagraph {
        font-size: 1.2rem;
        line-height: 100%;
        max-width: 100%;
        text-align: center;
    }

    .sectionTwoParagraph > span {
        font-size: 1.2rem;
        line-height: 100%;
    }

    .sectionThree {
        width: 100%;
        height: auto;
        padding: 30px 15px;
    }

    .sectionThree > div:nth-child(odd) {
        display: none;
    }

    .flavourDiv {
        width: 100%;
        justify-content: unset;
        gap: 30px;
    }
    
    .profile-icon-wrap {
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 1fr;
    }

    .profile-icon-wrap > div {
        width: 100%;
        font-size: 14px;
        line-height: 11px;
    }

    .profile-icon-1::before, .profile-icon-2::before, .profile-icon-3::before, .profile-icon-4::before {
        width: 30px;
        height: 50px;
    }
    
    .acpsecondfourthSectionImage {
        width: 100%;
        height: auto;
        margin-top: 180px;
        aspect-ratio: 16 / 9;
    }

    .pagesTextbetween > .pagesTextFavorDivHeader {
        margin-top: -55%;
        margin-bottom: 50px;
        width: 100%;
        font-size: 32px;
        line-height: 37px;
        text-align: center;
    }

    .legacy-img-wrap {
        width: 100%;
        top: 25px;
        position: relative;
    }

    .acppremiumfifthhDiv {
        width: 100%;
        height: auto;
        margin-bottom: 50px;
    }

    .acpremium5ImgDiv {
        height: auto;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .acpremium5ImgDiv > img {
        width: 100%;
        height: auto;
    }
    .bottleImgfirst{
        margin-right: 0%;
    }
    .logoTextParagraph{
        font-size: 12px;
    }
}