body {
  margin: 0;
  padding: 0;
  background-color: #010101;
  /* Set background color to black */
  font-family: 'Montserrat', sans-serif;
}

.privacy-policy {
  padding: 8%;
  text-align: justify;
  width: 100%;
  /* Adjust width as needed (optional) */
  margin: 2;
  /* Use vh for vertical margin */
  color: #fff;
  /* Set text color to white */
}

.privacyheading {
  text-align: center;
  color: #fff;
  font-size: 4rem;
  font-family: 'Josefin Sans';
}

.privacy-policy h1,
.privacy-policy h2 {
  color: #ECA533;
  /* Set heading color to orange */
  margin-bottom: 20px;
  font-weight: bold;
}

.privacy-policy p {
  line-height: 1.5;
  margin-bottom: 15px;
}