

.acDryGinFirstDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  height: 100vh;
} 

.acDryGinImgcontent{
  display: flex;
  height: 100vh;
} 
.acDryGinRowContent {
  align-self: center;
  width: 75%;
}
.acDryGinHeading {
  color: #FFFFFF;
  font-family: 'Krona One';
  font-size: calc(45px + 1vw);
  font-weight: bold;
  margin-bottom: 0;
  letter-spacing: 6px;
  text-align: left;
}
.acDryGin1divHead{
  display: flex;
  flex-direction: row;
  align-self: center;
  padding-left: 7%;
  padding-right: 5%;
}
.acdryGin1stImg{
  width: 100%;
}
.acDryGinParagraph {
  font-family: 'Josefin Sans';
  font-size: 1.8rem;
  letter-spacing: 1px;
  line-height: 100%;
  font-family: 'Light';
  text-align: justify;
  width: 80%;
  margin-top: 3%;
}

/* 22 */
.acDryGinSecondDiv {
  background-image: url('../../../../Assets/Products/Liquor/AcDryGin/acdryginsec2img.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

  /* aspect-ratio: 15/7.2; */
}

.acDryGinColumnContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 8%;
}


.acDryGinSecondDivHeading {
  /* font-family: 'Lobster', cursive; */
  font-family: 'Krona One';
  font-size: calc(30px + 1vw);
  font-weight: 700;
  margin-bottom: 0;
  text-align: right;
  letter-spacing: 6px;
  width: 30%;
}

.acDryGinSecondDivParagraph {
  width: 30%;
  font-family: 'Josefin Sans';
  font-size: 1.6rem;
  letter-spacing: 1px;
  line-height: 100%;
  font-family: 'Light';
  font-size: 24px;
  letter-spacing: 1px;
  margin-top: 2%;
  text-align: right;
}

/* /33 */
.acDryGinThirdDiv {
  background-image: url('../../../../Assets/Products/Liquor/AcDryGin/acdryginsec3img.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* aspect-ratio: 16/8.81; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;


}
.acDryGinThirdDivHeading{
  font-family: 'Krona One';
  font-size: calc(30px + 1vw);
  font-weight: 700;
  margin-bottom: 0;
  text-align: left;
  letter-spacing: 5px;
  /* width: 50%; */
}
.acDryGinThirdDivParagraph{
  /* width: 25%; */
  text-align: left;
  font-family: 'Josefin Sans';
    font-size: 1.6rem;
    letter-spacing: 1px;
    line-height: 100%;
    font-family: 'Light';
  margin-top: 3%;
}
.acDryGinThirdColumnContent{
  display: flex;
  width: 35%;
  /* text-align: left; */
  flex-direction: column;
  padding: 5%;
  /* justify-content: first baseline; */
  /* align-items: center; */
}

/* //4 */

.acDryGinFourthDiv {
  height: 100vh;
}

.acDryGinleftArrowDiv {
  border-color: white;
  padding: 1%;
  color: #FFFFFF;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  border-left-color: black;
  border-top-right-radius: 15%;
  border-bottom-right-radius: 15%;
  display: flex;
  text-align: right;
  align-self: center;
}

.acDryGinrightArrowDiv {
  border-color: white;
  padding: 1%;
  color: #FFFFFF;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  border-right-color: black;
  border-top-left-radius: 15%;
  border-bottom-left-radius: 15%;
  display: flex;
  align-self: center;
}

.acDryGinarrowHeading {
  font-size: 21px;
  margin-bottom: 0%;
}
 
.visible{
  display: none;
}

@media only screen and (max-width: 767px) {
  .acDryGinFirstDiv {
    display: flex;
    padding-top: 25%;
    height: auto;
  } 
  .acDryGin1divHead{
    flex-direction: column;
  }
  .acDryGinRowContent {
    align-self: center;
    width: 100%;
  }
  .acDryGinHeading {
    font-size: 32px;
    margin-bottom: 0;
    text-align: center;
  }
  .acDryGinParagraph {
    font-family: 'Light';
    font-size: 16px;
    text-align: center;
    width: 95%;
  }
  .acDryGinImgcontent{
    display: flex;
    height: auto;
    width: 100%;
  } 
  .acDryGinSecondDiv {
    background-image: url('../../../../Assets/Products/Liquor/AcDryGin/acgin.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    max-height: 80vh;
  }
  .visible{
    display: flex;
  }
  .acDryGinColumnContent {
    justify-content: center;
    align-items: center;
    padding: 4%;
  }
  .acDryGinSecondDivHeading {
    font-family: 'Lobster', cursive;
    font-size: 32px;
    margin-bottom: 0;
    text-align: center;
    width: 80%;
    padding-top: 15%;
  }
  .acDryGinSecondDivParagraph {
    width: 80%;
    text-align: center;
    font-family: 'Light';
    font-weight: 100;
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 4%;
  }
  .acDryGinThirdDiv {
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    height: 60vh;
    justify-content: space-between;
    padding-top: 7%;
  }
  .acDryGinThirdColumnContent{
    width: 80%;
    text-align: center;
    flex-direction: column;
    padding: 2%;
    align-self: center;
  }
  .acDryGinThirdDivHeading{
    font-size: 28px;
    text-align: center;
    letter-spacing: 5px;
  }
  .acDryGinThirdDivParagraph{
    text-align: center;
    font-family: 'Light';
    font-weight: 100;
    font-size: 18px;
    letter-spacing: 2px;
    margin-top: 5%;
  }
  
}

@media only screen and (min-width: 768px) and (max-width: 991px){
  .acDryGin1divHead {
    /* flex-direction: column; */
    border-style:dotted;
  } 
}