.pagesRowDiv {
    display: flex;
}

.acpnewpagesTextDiv {
    width: 50%;
    padding: 0 60px;
}

.acpNewFavIconImgDiv {
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: center;
}

.acpNewpagesRowDiv {
    display: flex;
}

.acpNewTextDiv {
    margin-left: 5%;
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: center;
    flex-direction: column;
}

.acpfavsectImg {
    width: 100%;
    height: 80%;
}

.pagesTextFavorDiv {
    width: 60%;
    padding-left: 60px;
}

.pagesTextbetween {
    display: flex;
    padding: 5%;
    flex-direction: column;
    /* justify-content: space-around; */
    /* align-self: flex-end; */
}

.acpNewpagesTextbetween {
    /* display: flex; */
    padding: 5%;
    /* flex-direction: row;
    justify-content: space-between; */
}

.acppremiumfifthhDiv {
    height: auto;
    max-width: 100%;
    /* object-fit: cover; */
}

.acpNewarrowDiv {
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-top: 1%;
}

.acpNewLeftDiv {
    text-align: right;
    align-self: center;
}

.acpNewleftSmallImg {
    height: 80px;
    margin-left: 25px;
    margin-right: 25px;
}

.acpNewrightSmallImg {
    height: 80px;
    margin-right: 5px;
}

.acpNewRightDiv {
    text-align: left;
    align-self: center;
}

.leftIconImg {
    font-size: 55px;
}

.acpvideoDiv {
    aspect-ratio: 16/9;
}

.acppremiumleftArrowDiv {
    border-color: white;
    padding: 1%;
    color: #FFFFFF;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    border-left-color: black;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
    display: flex;
    text-align: right;
    align-self: center;
}

.acppremiumrightArrowDiv {
    border-color: white;
    padding: 1%;
    color: #FFFFFF;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    border-right-color: black;
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
    display: flex;
    align-self: center;
}

.acpNpremiumarrowHeading {
    font-size: 21px;
    margin-bottom: 0%;
}



.acpnewpagesTextDivTwo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.aristocratSecondHeading {
    color: #9A1112;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    letter-spacing: 3px;
    margin-bottom: 0%;
    margin-left: 60px;
    /* line-height: 30px; */
}

.aristocratParagraph {
    color: #FFFFFF;
    width: 100%;
    font-family: 'Josefin Sans';
    font-size: 1.8rem;
    letter-spacing: 1px;
    font-family: 'Light';
    text-align: center;
    max-width: 50%;
    margin-left: 40px;

    /* line-height: 15px; */
}

.sectionTwoHeading {
    color: #FFFFFF;
    font-weight: 400;
    font-style: normal;
    font-family: "Krona One", sans-serif;
    letter-spacing: 1px;
    line-height: 0px;
}

.sectionTwoParagraph {
    color: #FFFFFF;
    width: 90%;
    font-family: 'Josefin Sans';
    font-size: 2rem;
    letter-spacing: 1px;
    font-family: 'Light';
    text-align: justify;
}

.sectionTwoParagraph span {
    color: #FFFFFF;
    width: 100%;
    font-family: 'Josefin Sans';
    font-size: 2rem;
    letter-spacing: 1px;
    font-family: 'Light';
    text-align: justify;
} 

.sectionTwoParagraphdiv p {
    margin-top: 10%;
    color: #FFFFFF;
    width: 90%;
    font-family: 'Josefin Sans';
    font-size: 1.6rem;
    letter-spacing: 1px;
    line-height: 170%;
    font-family: 'Light';
    text-align: right;
}
.sectionTwoParagraphdiv p span {
    color: #FFFFFF;
    width: 100%;
    font-family: 'Josefin Sans';
    font-size: 1.6rem;
    letter-spacing: 1px;
    font-family: 'Regular';
    text-align: right;
}
/* <style>
.acpremiumfirstSectionImage {
    background-image: url(/src/Assests/acpremiumfirstsection.png);
    width: 100%;
    height: auto;
    /* background-size: 10%; */
/* background-repeat: no-repeat; */
/* max-width: 100vw; */
/* max-height: 100vh; */
/* background-size: contain; */
/* background-position: right; */
/* place-items: center; */
/* display: block; */
/* text-align: center; */
/* object-fit: cover; */
/* aspect-ratio: 16 / 8.71; */
.acpremiumfirstSectionImage {
    background-image: url('../../Assests/acpremiumfirstsection.png');
    /* width: 100vw;
        height: 100vh;
        max-width: 100vw;
        max-height: 100vh;
        background-size: cover;
        background-position: right;
        place-items: center; */
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: contain;
    place-items: center;
    aspect-ratio: 16 / 8.71;
    /* display: block; */
    /* background-position: ; */
    /* padding-top: 50%;
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
        */
    /* text-align: center; */
}

.acpremiumsecondSectionImage {
    background-image: url('../../Assests/acpremiumsecontiontwoBg.png');
    /* width: 100vw;
    height: auto;
    padding-top: 50%;
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
        */
    /* width: 100vw;
        height: 100vh;
        max-width: 100vw;
        max-height: 100vh;
        background-size: cover;
        background-position: left;
        place-items: center; */
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: contain;
    place-items: center;
    aspect-ratio: 16 / 8.71;
}

.acpremiumfourthSectionImage {
    /* background-image: url('../../Assests/Products/aristoprembg.png'); */
    background-image: url('../../Assests/aristoprembg1.png');
    /* width: 100vw;
    height: auto;
    padding-top: 45%;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
        */
    /* width: 100vw;
        height: 100vh;
        max-width: 100vw;
        max-height: 100vh;
        background-size: auto;
        background-position:right;
        background-repeat: no-repeat;
        place-items: center; */
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: contain;
    place-items: center;
    /* aspect-ratio: 16 / 8.71; */
    aspect-ratio: 16 / 8.71;
}

.acpNsectionThree {
    display: flex;
    flex-direction: row;
    height: 100vh;
    /* align-items: center; */
    justify-content: space-between;
}

.acpNewlogoImg1 {
    height: auto;
    width: 50%;
}

.acpNewImg1 {
    height: 90vh;
    margin-right: 10%;
    /* width: 50%; */
}

.acpbottleImg {
    height: 80vh;
    margin-top: 7%;
}

.acpnewHide {
    display: none;
}

/* style={{ height: '100vh', width: '50%' }} */

/* //flavour icon */
.profileN-icon-wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: auto;
    margin-left: -20%;
    top: 0;
    bottom: 0;
    margin-bottom: 20%;
}

.profileN-icon-wrap>div {
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    font-family: Josefin Sans;
    font-size: 12px;
    font-weight: 300;
    line-height: 24.29px;
    letter-spacing: 0.07em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.profileN-icon-1::before,
.profileN-icon-2::before,
.profileN-icon-3::before,
.profileN-icon-4::before {
    content: '';
    display: inline-block;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    width: 50px;
    height: 80px;
}

.profileN-icon-1::before {
    background-image: url('../../../../Assets//Products/Liquor/AcpremiumOld/elegant.svg');
}

.profileN-icon-2::before {
    background-image: url('../../../../Assets//Products/Liquor/AcpremiumOld/sweet.svg');
}

.profileN-icon-3::before {
    background-image: url('../../../../Assets//Products/Liquor/AcpremiumOld/deep.svg');
}

.profileN-icon-4::before {
    background-image: url('../../../../Assets//Products/Liquor/AcpremiumOld/smooth.svg');
}

.acpNflavourDiv {
    width: 45%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}

.curtainImage {
    transform: scaleX(-1);
}

.image {
    width: 100%;
    height: auto;
    margin-top: -8%;
}

.imageText {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.logoText {
    height: 7%;
    width: 7%;
    margin-right: 3%;
}

.botleImg2 {
    width: 15%;
}
.distik {
    width: 100%;
    margin-right: 16%;
    margin-left: -35px;
}


.acpnewlogoText {
    width: 20%;
    margin-right: 10%;
}

.acpNlogoTextParagraph {
    text-align: left;
    color: #FFFFFF;
    font-weight: 100;
    font-style: normal;
    font-family: 'Light';
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 15px;
    opacity: 0.8;
}

.acpNflavourDivHeader {
    color: #FF0002;
    font-family: "Krona One", sans-serif;
    font-size: 40px;
    opacity: 0.2;
    letter-spacing: 1px;
}

.acpNpagesTextFavorDivHeader {
    color: #FFFFFF;
    font-family: "Krona One", sans-serif;
    font-size: 40px;
    width: 60%;
    letter-spacing: 1px;
    text-align: left;
    line-height: 35px;
}

.rowIconVisible {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
    margin-right: 10%;
}


/* secondpage styles */
.acpSecondPageSectionOneImage {
    background-image: url('../../../../Assets/Products/Liquor/AcpremiumOld/sc1background.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    place-items: right;
    display: flex;
    flex-direction: row;
    /* aspect-ratio: 16 / 8.71; */
}

.acpNewScondSectionTwoImage {
    background-image: url('../../../../Assets/Products/Liquor/AcpremiumNew/acpsecondpageBg.png');
    /* width: 100vw;
    height: auto;
    padding-top: 50%;
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
        */
    /* width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    /* width: 100%; */
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    place-items: center;
    /* aspect-ratio: 16 / 8.71; */
}


.acpsecondfourthSectionImage {
    background-image: url('../../../../Assets/Products/Liquor/AcpremiumNew/acpforthsecImg.png');
    /* width: 100vw;
    height: auto;
    padding-top: 30%;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
        */
    /* width: 100%; */
    height: 100vh;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    place-items: center;
    display: flex;
    /* aspect-ratio: 16 / 8.71; */
}

.acpoldsecondfourthSectionImage {
    background-image: url('../../../../Assets/Products/Liquor/AcpremiumNew/acpThirdSection.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    place-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pageSecondText h1 {
    font-size: 2.4rem;
    margin-right: 10%;
    margin-bottom: 1%;
    margin-top: 5%;
}

/* acpsecondfourthSectionImage */
/* @media (max-width: 768px) {

    .sectionTwoHeading {
        font-size: 21px;
        line-height: 5px;
    }

    .sectionTwoParagraph {
        font-size: 12px;
        line-height: 12px;
    }

    .pageSecondText {
        margin-top: 10%;
    }

    .pagesTextFavorDivHeader {
        font-size: 25px;
        line-height: 25px;
    }

    .logoTextParagraph {
        font-size: 12px;
    }

    .acpremiumfourthSectionImage {
        padding-top: 20%;
    }

    .pagesTextFavorDiv {
        margin-top: 5%;
        padding-left: 60px;
        padding-bottom: 5%;
    }
    .acpSecondPageSectionOneImage {
        display: flex;
        height: 100vh;
        flex-direction: column;
        text-align: center;
        border-style: dashed;
    }
    .acpNewTextDiv {
        display: flex;
        justify-content: center;
        padding: 5%;
        padding-left: 20%;?
        background-color: #9A1112;
        margin-left: 2%;
        width: 100%;
        }
        .acpbottleImg{
            height: 50%;
            padding-right: 25%;
            padding-bottom: 3%;
            align-self: last baseline;
        }
} */

/* //query */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .acpbottleImg

    /* .section2BotleImg  */
        {
        height: auto;
        width: 50%;
    }

    .aristocratSecondHeading {
        text-align: center;
        margin: 0;
    }

    .acpoldParagraph

    /* .sectionTwoHeading  */
        {
        max-width: unset;
    }

    .acpNewScondSectionTwoImage>img {
        width: 50%;
        height: auto;
    }

    .acpnewpagesTextDiv {
        margin: 0;
        padding: 0;
    }

    .acpNewTextDiv {
        margin-left: 0px;
        width: 100%;
    }

    .acpNflavourDiv {
        width: 100%;
        justify-content: unset;
        gap: 40px;
    }

    .image {
        display: none;
    }

    .acpnewHide {
        display: flex;
        padding: 5%;
        flex-direction: row;
        justify-content: space-between;
    }

    .acpoldsecondfourthSectionImage {
        background-image: url('../../../../Assets/Products/Liquor/AcpremiumNew/acpThirdSectionSmall.png');
        height: 100vh;
        background-repeat: no-repeat;
        background-position: left;
        flex-direction: column;
    }

    .acpNlogoTextParagraph {
        font-size: 12px;
    }

    .acpnewlogoText {
        height: 50%;
        width: 50%;
    }

    .rowIconVisible {
        height: 50%;
        width: 40%;
        align-self: center;
        margin-right: 50%;
        /* background-color: #FF0002; */
    }

    .acpfavsectImg {
        width: 350px;
        height: 200px;
    }


}

/* @media (min-width:846px){

} */

@media only screen and (max-width: 767px) {

    .acpNewlogoImg1,
    .acpbottleImg {
        /* .section2BotleImg  */
        width: 100%;
        height: auto;
    }

    .acpbottleImg {
        width: 33%;
        align-self: center;
    }

    .acpNewpagesRowDiv {
        flex-direction: column;
        text-align: center;
        height: auto;
        padding: 90px 15px 0 15px;
    }

    .aristocratSecondHeading {
        font-size: 20px;
        margin-left: 0;
        line-height: 22px;
    }

    .aristocratParagraph {
        font-size: 1.2rem;
        text-align: center;
        max-width: 90%;    
        margin: 0;
    }

    /* //2nd sec */
    .acpnewpagesTextDivTwo {
        flex-direction: column-reverse;
        text-align: center;
        height: auto;
        padding-left: 5%;
    }

    .acpNewScondSectionTwoImage>img {
        width: 80%;
        height: auto;
        align-self: center;
        /* height: auto; */
    }

    .acpnewpagesTextDiv {
        width: 100%;
        padding: 0;
        padding-top: 5%;
    }

    .acpNewTextDiv {
        margin-left: 0px;
        width: 100%;
    }
    

    .profileN-icon-1::before,
    .profileN-icon-2::before,
    .profileN-icon-3::before,
    .profileN-icon-4::before {
        width: 30px;
        height: 50px;
    }

    .profileN-icon-wrap {
        display: grid;
        gap: 5px;
        grid-template-columns: 1fr 1fr;
        margin: 5%;
    }

    .profileN-icon-wrap>div {
        width: 100%;
        font-size: 14px;
        line-height: 11px;
        flex-direction: column;
    }

    .acpNflavourDiv {
        width: 100%;
        justify-content: unset;
        gap: 20px;
    }

    .image {
        display: none;
    }

    .acpNewFavIconImgDiv {
        flex-direction: column-reverse;
    }

    .acpNflavourDivHeader {
        margin-top: 10%;
    }

    .acpoldsecondfourthSectionImage {
        background-image: url('../../../../Assets/Products/Liquor/AcpremiumNew/acpThirdSectionSmall.png');
        height: 90vh;
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
        flex-direction: column;
    }

    .acpnewHide {
        display: flex;
        padding: 5%;
        flex-direction: row;
        justify-content: space-between;
    }

    .acpNlogoTextParagraph {
        font-size: 12px;
    }

    .acpnewlogoText {
        height: 40px;
        width: 40px;
    }

    .rowIconVisible {
        height: 30%;
        width: 50%;
        align-self: center;
        margin-right: 30%;
    }

    .acpNpagesTextFavorDivHeader {
        font-size: 32px;
        width: 100%;
        text-align: center;
        letter-spacing: 5px;
    }

    .acpfavsectImg {
        width: 350px;
        height: 200px;
    }

    .acppremiumfifthhDiv {
        height: 100vh;
        max-width: 100%;
    }

    .videoContent {
        height: 100%;
        width: 100%;
        margin-bottom: 10%;
    }

    .botleImg2 {
        margin-left: 0%;
    }

    .acpvideoDiv {
        aspect-ratio: 4/2;
    }

    .acpNewleftSmallImg {
        height: 60px;
        margin-left: 25px;
        margin-right: 25px;
    }

    .acpNpremiumarrowHeading {
        font-size: 12px;
    }

    .leftIconImg {
        font-size: 21px;
    }

    .acpNewrightSmallImg {
        height: 60px;
        margin-right: 5px;
    }

    .acppremiumleftArrowDiv {
        width: 50%;
    }

    .acppremiumrightArrowDiv {
        width: 50%;
    }

    .pageSecondText h1 {
        font-size: 1.5rem;
        margin-bottom: 10%;
        margin-top: 5%;
        text-align: center;
    }

    .sectionTwoParagraphdiv p {
        color: #FFFFFF;
        width: 90%;
        font-family: 'Josefin Sans';
        font-size: 1.2rem;
        letter-spacing: 1px;
        line-height: 110%;
        font-family: 'Light';
        text-align: center;
        
    }
    .sectionTwoParagraphdiv p span {
        color: #FFFFFF;
        width: 80%;
        font-family: 'Josefin Sans';
        font-size: 1.2rem;
        letter-spacing: 1px;
        
        text-align: right;
}
.distik {
    width: 110%;
    margin-right: -40px;
}
}