#sectionImage1 {
    background-image: url('../../Assests/sectionBg1.png');
}
.sectionBottleDiv{
    /* height: auto;
    background-repeat: no-repeat;
    background-size: contain;
    place-items: left;
    aspect-ratio: 16 / 8.71; */
    position: relative;
    min-height: 100vh;
    background-size: contain;
    position: relative;
    background-repeat: no-repeat;
}

#sectionImage2 {
    background-image: url('../../Assests/sectionBg2.png');
}

#sectionImage3 {
    background-image: url('../../Assests/sectionBg3.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sectionImage4 {
    background-image: url('../../Assests/sectionBg4.png');
}

#sectionImage5 {
    background-image: url('../../Assests/sectionBg5.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sectionImage6 {
    background-image: url('../../Assests/sectionBg6.png');
}

.section {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    margin: 3px auto 0;
    position: relative;
}

.section3GroupHeaderDiv {
    width: 400px;
    align-self: center;
    justify-content: center;
}

.section3Image {
    width: 500px;
    height: 300px;
}

.section3MainDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section3Header {
    font-size: 35px;
    font-family: 'Josefin Sans';
    font-weight: 100;
    letter-spacing: 4px;
    line-height: 7px;
    opacity: 0.9;
}

.section3Paragraph {
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: bold;
    letter-spacing: 1px;
    opacity: 0.7;
}

.section3Button {
    border-color: #ECA533;
    background-color: black;
    border-width: 0.5px solid;
    border-radius: 18px;
    padding: 10px 35px;
    color: #ECA533;
    letter-spacing: 2px;
    margin-top: 30px;
}

.section5GroupImagesDiv {
    width: 420px;
}

.section5firstImage {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.section5secondImage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section5Image {
    width: 200px;
    height: 200px;
    margin: 6px 6px 6px 5px;
    border-radius: 12px;
}

.section5Header {
    font-size: 35px;
    font-family: 'Josefin Sans';
    font-weight: 100;
    letter-spacing: 4px;
    line-height: 7px;
    opacity: 0.6;
}

.section6Header {
    font-size: 34px;
    font-family: 'Josefin Sans';
    font-weight: 100;
    opacity: 0.6;
    letter-spacing: 4px;
    line-height: 7px;
    text-align: center;
    margin: 80px 0 60px 0;

}

.mainDiv {
    padding-left: 5%;
    /* width: 100%; */
}

.transformText {
    font-size: 200px;
    /* position: fixed; */
    font-family: 'Josefin Sans';
    -webkit-text-stroke-width: 2;
    -webkit-text-stroke-color: 'white';
    /* -webkit-text-fill-color: '#333333'; */
    opacity: 0.6;
}

/* .section {
    max-width: 100%;
    width: 100%;
    height: auto !important;
    object-fit: cover;
} */

/* @media (max-width: 768px) {
        .section {
            height: 100vh;
            background-size:auto;
            position:-ms-page;
        }
} */

/* @media (max-width:767px) {
    .section {
        height: 25vh;
    }
}

@media (min-width:768px) {
    .section {
        height: 50vh;
    }
}

@media (min-width:992px) {
    .section {
        height: 75vh;
    }
}

@media (min-width:1200px) {
    .section {
        height: 100vh;
    }
} */

@media (min-width:320px) {

    /* smartphones, iPhone, portrait 480x320 phones */
    .section {
        height: 35vh;
    }
}

/* @media (min-width:481px)  { 
    portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. 
    .section {
        height: 45vh;
    }
} */
@media (min-width:641px) {

    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    .section {
        height: 45vh;
    }
    /* .sectionBottleDiv{
        aspect-ratio: 3 / 1.71;
    } */

}

@media (min-width:961px) {

    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .section {
        height: 65vh;
    }
}

@media (min-width:1025px) {

    /* big landscape tablets, laptops, and desktops */
    .section {
        height: 88vh;
    }
}

@media (min-width:1281px) {

    /* hi-res laptops and desktops */
    .section {
        height: 100vh;
    }
}