nav {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* position: calc(0 - 'absolute' ) calc(10 - 'stickey'); */
    /* position: sticky; */
    position:absolute;
    /* position: calc(0); */
    width: 100%;
    top: 0;
    z-index: 2;
    font-family: 'Regular';

} 

nav .title {
    font-size: 1.5rem;
    margin: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
}
nav ul :hover {
    color: #D38A14;

}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    margin: 0.45rem;
    border-radius: 0.5rem;
}

nav .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

nav .menu span {
    height: 0.1rem;
    width: 100%;
    background-color: #fff;
    border-radius: 0.2rem;
}

.close {
    background-color: transparent;
    align-items: center; 
    justify-content: space-between;
}

.firstLogo {
    display: none;
}

.show>.btn-primary.dropdown-toggle{
    /* background-color: black; */
    border-color: black;
    border: 0;
    box-shadow: none;

}
.show>.btn-primary.dropdown-toggle:hover{
    /* background-color: black; */
    border-color: black;
    box-shadow: none;
}

.dropdown-about {
    border: 0;
    outline: none;
    box-shadow: unset;
}
/* .borderChange:active{
    border: 0;
    outline: none;
    box-shadow: unset;
} */

.secondLogo {
    display: flex;
    margin-left: 1rem;
}
.nav__toggle,
.nav__close {
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}


.dropdown-toggle:hover{
    /* background-color: black; */
    border-color: black;
}

/* ///dddd */
.dropdown-about .dropdown-toggle {
    background-color: transparent;
    border-color:transparent;
    display: flex;
    box-shadow: none;
}
.dropdown-liquor{
    display: flex;
    margin-left: 5%;
}
.dropdown-about:focus{
   border-color: #D38A14;
   box-shadow: none;
}
.dropdown-liquor .dropdown-menu {
    /* background-color: black; */
    border-color: #fff;
    margin-left: 105%;
    margin-top: -25%;
}

.dropdown-about .dropdown-toggle:hover {
    color: #D38A14;
    box-shadow: none;
    /* background-color: black; */
    /* border-color: blacß; */

}

.dropdown-li {
    background-color: transparent;
    border-color: black;
    display: flex;
}

nav ul.dropdown-li:hover {
    border-color: white;
    /* background-color: black; */

}

.dropdown-toggle :hover {
    border-color: white;

}

.dropdown-about .dropdown-toggle:after {
    display: none;
}

.dropdown-about .dropdown-menu {
    background-color: black;
    border-color: #fff;
}

.dropdown-about .dropdown-item {
    color: white;
    text-align: left;
    border-color: black;
}

.dropdown-about .dropdown-item:hover {
    background-color:  transparent;
    color: #D38A14;
    box-shadow: none;
    
}
/* nav ul .open:active{
    display: none;
    background-color: #D38A14;
} */
nav ul.open:selection{
    display: none;
}

.imagelogo {
    height: 300px;
    width: 300px;
}

@media (max-width: 802px){
    nav .menu {
        display: flex;
        top: 30%;
        height: 1.5rem;
    }

    .firstLogo {
        display: flex;
        height: 75px;
        align-items: center;
    }

    .secondLogo {
        display: none;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    nav ul.open {
        position: absolute;
        top:0;
        right: 0%;
        display: flex;
        flex-direction: column;
        padding-top: 20%;
        justify-content: space-around;
        background-color: transparent;
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
        transition: right 0.4s;
        z-index: 2;
        height: 100vh;
        -webkit-text-fill-color: #fff;
        -webkit-text-stroke: 1;
    }

    .nav__close {
        position: absolute;
        top: 1rem;
        right: 1.5rem;
      }

    .imagelogo {
        height: 70px;
        width: 75px;
    }

    nav {
        z-index: 5;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        margin: 0.2rem 0.5rem;
    }
}

@media only screen and (max-width: 1200px) {
    .section3Header {
        font-size: 30px;
        font-family: 'Josefin Sans';
    }
    .nav__toggle,
    .nav__close {
      display: none;
    }
    
  }



  

  /* //for overide the button styling */
  .btn-primary {
    color: #fff;
    background-color: transparent;
    border-color: transparent
}

.btn-primary:hover {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: transparent
}


.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: transparent;
    border-color: transparent
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    /* box-shadow: transparent */
    box-shadow: none;

}

/* //check this */
.btn-outline-primary {
    color: #fff;
    background-color: transparent;
    background-image: none;
    border-color: transparent
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: transparent;
    border-color: transparent
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
    /* box-shadow: transparent */
    box-shadow: none;

}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
    color: #fff;
    background-color: transparent
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: transparent;
    border-color: transparent
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
    /* box-shadow: transparent */
    box-shadow: none;
}