.reportinputField {
    border-radius: 10px;
    margin-right: 15px;
    width: 100%;
    color: black;
    font-family: 'Light';
    padding-left: 5px;
}
.reportsMainDiv{
    margin-top: 10%;
}
.reportMainheadDiv{
    margin-bottom: 5%;
}
.reportInputFieldDiv{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}
.searchBar{
    width: 600px;
} 
/* .reportinputField::-webkit-inner-spin-button {
    display: none;
} */
/* style={{ width: '40%' }}  */
/* style={{ display: 'flex', justifyContent: 'center' }} */
/* style={{ marginBottom: '5%' }} */
/* style={{ marginTop: '10%' }} */

.reportmainDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    /* margin-left: 2%; */
    /* margin-right: 2%; */
}

.reportDiv { 
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 5%; 
    margin-right: 2%;
    width: 190px;
} 

.reportHeading {
    font-size: 28px;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 0%;
    font-family: 'Josefin Sans';
}

.reportPara {
    font-size: 26px;
    text-align: center;
    font-family: 'Josefin Sans';
    opacity: 0.7;
}

.reportImg {
    scale: 0.6;
}

.search-container {
    position: relative;
    color: black;
    font-family: 'Light';
}

input[type="text"].searchBar {
    padding-right: 30px; /* Adjust as per your icon size */
}

.search-icon {
    position: absolute;
    right: 30px; /* Adjust as per your design */
    top: 50%;
    transform: translateY(-60%);
    /* transform: translateX(-10%); */
    /* You can set the icon font or SVG here */
    background-image: url('search-icon.svg'); /* Example for SVG icon */
    width: 20px; /* Example size */
    height: 20px; /* Example size */
    background-size: cover; /* Ensures the icon fits inside the container */
}



/* searchBar */

/* @media screens only (max-width: '767px'){
    
} */

@media (max-width: 768px) {
    .searchBar{
        width: 100%;
        color: black;
    }
    .reportinputField{
        margin-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
        /* margin: 3px; */
    }
    .search-container{
        margin-left: 5px;
    }
    .reportsMainDiv{
        padding-top: 25%;
    }
    .reportInputFieldDiv{
        display: flex;
        justify-content: center;
        flex-direction: column;
        /* flex-wrap: wrap; */
    }
    .search-icon {
        right: 10px;
    }
} 
@media (min-width: 768px) and (max-width: 1024px){
    .searchBar{
        width: 300px;
        color: black;
    }
}