.submitBtn {
    border-radius: 30px;
    padding: 2% 6% 2% 6%;
    background-color: #ECA533;

}

.container {
    margin-top: 10%;
}

.cs_map {
    width: 80vw; 
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
  }
  
  .cs_map iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }

.inputField {
    width: 100%;
    margin-bottom: 2%;
    background-color: black;
    border-color: #fff;
    padding: 2%;
    border-width: 0.5px;
    border-radius: 30px;
    color: #fff;
}

.inputFieldHeading {
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 100;
    font-family: 'Josefin Sans';
}

.contactHeading {
    font-size: 38px;
    margin-bottom: 0;
    font-weight: 100;
    font-family: 'Josefin Sans';
    margin-bottom: 10%;
}

.contactusParagraph {

   
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.textareainput {
    width: 100%;
    margin-bottom: 2%;
    background-color: black;
    border-color: #fff;
    border-width: 0.5px;
    border-radius: 20px;
    color: #fff;
}

.contacticons {
    color: #ECA533;
    /* margin-bottom: -3px; */
    margin-right: 10px;
}
.locts {
    color: #ECA533;;
    font-size: 26px;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: -15px;
}

.contactContact {
    margin-bottom: 1%;
}

.contactContactmain {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-around;
    align-self: center;
    margin-bottom: 1%;
}


@media (max-width: 768px) {
    .contactContactmain {
        display: flex;
        justify-content: space-around;
        align-self: center;
        flex-direction: column;
        margin-bottom: 1%;
        margin-top: 10%;
    }

    .container {
        margin-top: 20%;
    }

    .inputFieldHeading {
        font-size: 18px;
        margin-bottom: 0;
        font-weight: 100;
        font-family: 'Josefin Sans';
        text-align: center;
    }

    .contactHeading {
        font-size: 24px;
        margin-bottom: 0;
        font-weight: 100;
        font-family: 'Josefin Sans';
        text-align: center;
    }

    .contactContact h1 {
        text-align: center;
    }

    .locts {
        color: #ECA533;;
        font-size: 40px;
        margin-left: 15px;
        margin-right: -5px;
    }

}