#sectionImage1 {
    background-image: url('../../Assests/sectionBg1.png');
}

#sectionImage2 {
    background-image: url('../../Assests/sectionBg2.png');
}

#sectionImage3 {
    background-image: url('../../Assests/sectionBg3.png');
}

#sectionImage4 {
    background-image: url('../../Assests/sectionBg4.png');
}

#sectionImage5 {
    background-image: url('../../Assests/sectionBg5.png');
}

#sectionImage6 {
    background-image: url('../../Assests/sectionBg6.png');
}

.section {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    margin: 3px auto 0;
    position: relative;
}

.section3GroupHeaderDiv{
    width: 400px;
    align-self: center;
}

.section3GroupImagesDiv{
    /* width: 0vw; */
    /* width: 300px; */
    /* height: 20vh; */
    /* z-index: 2; */
}

.section3Image{
    width: 500px;
}

.section3MainDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.section3GroupHeaderDiv h1{
    font-size: 23px;
    font-family: 'Montserrat';
    font-weight: 600;
    letter-spacing: 2px;
    
}

.section3GroupHeaderDiv p {
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: bold;
    letter-spacing: 1px;
}
.section3GroupHeaderDiv h3 {
    font-family: 'Josefin Sans';
    font-size: 26px;
    letter-spacing: 2px;
    /* font-weight: 400; */
    color: #ECA533;
}
/* .section {
    max-width: 100%;
    width: 100%;
    height: auto !important;
    object-fit: cover;
} */
    
    /* @media (max-width: 768px) {
        .section {
            height: 100vh;
            background-size:auto;
            position:-ms-page;
        }
} */

/* @media (max-width:767px) {
    .section {
        height: 25vh;
    }
}

@media (min-width:768px) {
    .section {
        height: 50vh;
    }
}

@media (min-width:992px) {
    .section {
        height: 75vh;
    }
}

@media (min-width:1200px) {
    .section {
        height: 100vh;
    }
} */

@media (min-width:320px)  { 
    /* smartphones, iPhone, portrait 480x320 phones */ 
    .section {
        height: 35vh;
    }
}
/* @media (min-width:481px)  { 
    portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. 
    .section {
        height: 45vh;
    }
} */
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
    .section {
        height: 45vh;
    }
}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    .section {
        height: 65vh;
    }
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
    .section {
        height: 88vh;
    }
}
@media (min-width:1281px) { /* hi-res laptops and desktops */ 
    .section {
        height: 100vh;
    }
}