@import url('https://fonts.googleapis.com/css?family=Lobster');
/* @import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Jura:wght@300..700&display=swap');

.acblackFirstDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    height: 100vh;
}

.acblackRowContent {
    align-self: center;
    width: 50%;
}

.acblackImgcontent {
    align-self: center;
}

/* font-family: Krona One; */
/* font-family: Fredoka; */
/* font-family: 'Josefin Sans'; */
.acblackColumnContent {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 10%;
    
}
.acsec1div{
    display: flex;
    align-self: center;
    padding-left: 7%;
    padding-right: 5%;
}
.acfirstImg{
    width: 100%;
}
.aciconsDiv{
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin: 5%;
    width: 40%;
    height: 20%;
}
.aciconsDiv p {
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-self: center;
    margin-top: 6%;
    margin-left: 4%;

}
.aciconsDiv img {
    width: 25%;
    height: 25%;
}
.aciconsDivopp{
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin-top: 4%;
    width: 40%;
    height: 20%;
}

.aciconsDivopp p {
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-self: center;
    margin-top: 6%;
    margin-left: 4%;
}


.aciconsDivopp img {
    width: 25%;
    height: 25%;
}

.accandleDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.acsec4secimg{
    height: 60%;
    width: 60%;
}
.acsec4imgDiv{
    justify-content: center;
    display: flex;
}
.acleftarrowDiv{
    text-align: right;
    align-self: center;
}
.acrightarowDiv{
    text-align: left;
    align-self: center;
}
.acarrowImg{
    height: 150px;
    margin-left: 25px;
    margin-right: 25px;
}
/* acblacksecondimg.png */
.acblackSecondDiv {
    background-image: url('../../../../Assets/Products/Liquor/AcBlack/acblacksecondimg.png');
    background-position: bottom;
    background-size: contain;
    height: 100vh;
    background-repeat: no-repeat;
    align-content: start;
    /* aspect-ratio: 16/7.41; */
}

.acblackThirdDiv {
    background-image: url('../../../../Assets/Products/Liquor/AcBlack/acblackthridimg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    /* aspect-ratio: 16/8.81; */
}

.acblackHeading {
    color: #FFFFFF;
    font-family: "Jura";
    font-size: calc(50px + 1vw);
    font-weight: 700;
    margin-bottom: 0;
    letter-spacing: 15px;
    text-align: left;
}

.acblacksecondHeading {
    color: #ED4E11;
    font-family: "Andika";
    font-size: calc(21px + 1vw);
    letter-spacing: 1px;
    text-align: left;
    margin-bottom: 35px;
}

.acblackParagraph {
    color: #FFFFFF;
    width: 80%;
    font-family: 'Josefin Sans';
    font-size: calc(12px + 1vw);
    letter-spacing: 1px;
    font-family: 'Light';
    text-align: justify;
}

.candleimage {
    height: 50%;
    width: 50%;
    display: flex;
}

.acblackSecondDivHeading {
    font-family: 'Krona One';
    font-size: calc(30px + 1vw);
    font-weight: 700;
    margin-bottom: 0;
    text-align: right;
    letter-spacing: 4px;

    /* font-family: 'Lobster', cursive; */
}

.acblackThirdDivHeading {
    font-family: 'Krona One';
    font-size: calc(22px + 1vw);
    font-weight: 200;
    margin-bottom: 0;
    text-align: left;
    letter-spacing: 1px;
    margin: 2%;
}

.acblackSecondDivParagraph {
    color: #FFFFFF;
    width: 50%;
    margin-top: 1%;
    font-family: 'Josefin Sans';
    font-size: calc(12px + 1vw);
    letter-spacing: 1px;
    font-family: 'Light';
    text-align: right;
}


.candleimagehide {
    display: none;
}

.acblackFourthDiv {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.pre-next-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-self: center;
}

.pre-next-wrap > .rightArrowDiv img,
.pre-next-wrap > .leftArrowDiv img {
   margin: 10px !important;
}

.arrowHeading {
    font-size: 21px;
    margin-bottom: 0%;
}

.leftArrowDiv {
    border-color: white;
    padding: 1%;
    color: #FFFFFF;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    border-left-color: black;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
    display: flex;
    text-align: right;
}

.rightArrowDiv {
    border-color: white;
    padding: 1%;
    color: #FFFFFF;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    border-right-color: black;
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
    display: flex;

}

.acblackThirdDivContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    padding: 5%;
}

.imageText {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    margin-top: 5%;
    margin-bottom: 5%;
    align-self: center;
}

.logoimage {

    margin-right: 3%;
}

@media (min-width: 992px) and (max-width: 1024px) {
    .acblackFirstDiv {
        height: 60vh;
    }

    .acblackSecondDiv {
        height: 50vh;
    }

    .acblackThirdDiv {
        height: 45vh;
    }

    .acblackFourthDiv > div > img {
        height: auto;
        width: 100%;
    }
    
    .acblackColumnContent {
        padding: 0 10%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {

    .acblackFirstDiv {
        height: 85vh;
    }

    .acblackRowContent{
        width: 100%;
    }

    .acblackColumnContent {
        padding: 10px 10%;
    }

    .acblackThirdDiv {
        width: 110vw;
        height: 65vh;
        background-position: right;
    }

    .candle-image-wrap-desk > div > p {
        text-align: center;
    }

    .acblackFirstDiv > div,
    .candle-image-wrap-desk > div {
        flex-direction: column;
    }

    .acblackSecondDiv,
    .acblackFourthDiv {
        height: 65vh;
    }

    .acblackFourthDiv > div > img {
        height: auto !important;
        width: 100% !important;
    }
}

@media (max-width: 767px) {
    .acblackFirstDiv {
        flex-direction: column;
        height: auto;
        margin-top: 30%;
    }

    .acblackFirstDiv > div {
        flex-direction: column;
        gap: 40px;
    }

    .acblackRowContent {
        width: 100%;
        text-align: center;
    }

    .acblackSecondDiv {
        width: 100%;
        height: auto;
        margin: 50px 0;
    }

    .acblackThirdDiv {
       height: 250px;
       width: 100%;
       background-position: right;
    }

    .acblackThirdDivContent {
        flex-direction: column-reverse;
        align-items: flex-end;
    }

    .candleimagehide {
        width: 100%;
        height: 100%;
        display: flex;
        padding: 10% 5%;
    }

    .candle-image-wrap {
        justify-content: center;
    }

    .candle-image-wrap > div {
        flex-direction: column;
        text-align: center;
    }

    .candle-image-wrap p {
        font-size: 12px;
        font-weight: 300;
        line-height: 13.25px;
        letter-spacing: 0.07em;
    }

    .candleimage,
    .acblackThirdDivContent > div {
        display: none !important;
    }

    .acblackHeading {
        font-size: 40px;
        font-weight: 700;
        line-height: 10.6px;
        letter-spacing: 0.11em;
    }

    .acblacksecondHeading {
        font-size: 22px;
        font-weight: 400;
        line-height: 55px;
        letter-spacing: 0.07em;
        margin: 0;
    }

    .acblackParagraph {
        font-size: 16px;
        font-weight: 300;
        line-height: 17.66px;
        letter-spacing: 0.09em;
        text-align: left;
        margin: 15px 0;
    }

    .acblackSecondDivHeading {
        font-family: Lobster;
        font-size: 32px;
        font-weight: 400;
        line-height: 37.44px;
        letter-spacing: 0.07em;
        text-align: right;
    }

    .acblackSecondDivParagraph {
        width: 100%;
        font-size: 16px;
        font-weight: 300;
        line-height: 17.66px;
        letter-spacing: 0.09em;
        margin-top: 20px;
    }

    .acblackColumnContent {
        padding: 30px 30px 50% 15px;
    }

    .acblackThirdDivHeading {
        font-family: Lobster;
        font-size: 24px;
        font-weight: 400;
        line-height: 26.5px;
        letter-spacing: 0.09em;
    }

    .acblackFourthDiv {
        width: 100%;
        height: auto;
        margin: 40px 0;
    }

    .acblackFourthDiv > div > img {
        height: auto;
        width: 100%;
    }
    .aciconsDiv img {
        width: 80%;
        height: 80%;
    }
}