@import url('https://fonts.googleapis.com/css?family=Lobster');

.royalFirstDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    height: 100vh;
}

.royalRowContent {
    align-self: center;
    width: 85%;
}

.royalImgcontent {
    width: 100%;
    margin: 0;
}

.royalFirstDiv {
    width: 100%;
    padding-left: 15px;
}

.royalFirstDiv > div {
    padding-left: 70px !important;
}

.royalImgcontent {
    width: 60%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

.royalRowContent {
    width: 40%;
    height: 60vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}





.royalHeading {
    color: #FFFFFF;
    font-family: 'Krona One';
    font-size: calc(38px + 1vw);
    font-weight: bold;
    margin-bottom: 0;
    text-align: left;


}

.animated {
    opacity: 0;
    /* Initially hidden */
    animation: fadeInZoom ease-in-out 1s forwards;
    animation-delay: 0.1s;
    /* Add a slight delay for a smoother flow */
}

@keyframes fadeInZoom {
    from {
        opacity: 0;
        transform: scale(0.9);
        /* Start with a slight zoom out */
    }

    to {
        opacity: 1;
        transform: scale(1);
        /* Zoom back to normal size */
    }
}

.royalsecondHeading {
    color: #ED4E11;
    font-family: "Andika";
    font-size: calc(20px + 1vw);
    letter-spacing: 5px;
    text-align: left;
    margin-bottom: 35px;
}

.royalParagraph {
    color: #FFFFFF;
    width: 80%;
    font-family: 'Josefin Sans';
    font-size: calc(12px + 1vw);
    letter-spacing: 1px;
    font-family: 'Light';
    text-align: justify;
}

.royalParagraph span {
    font-size: calc(13px + 1vw);
    color: #ED4E11;
    font-family: 'Josefin Sans';
    text-decoration: none;
    font-family: 'Light';
}

.royalColumnContent {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10%;
}

.royalSecondDivHeading {
    /* font-family: 'Lobster', cursive; */
    font-family: 'Krona One';
    font-size: calc(30px + 1vw);
    font-weight: 700;
    margin-bottom: 0;
    text-align: right;
    letter-spacing: 4px;
    width: 50%;
}

.royalPrideSecondDivHeading {
    font-family: 'Krona One';
    font-size: calc(30px + 1vw);
    font-weight: 700;
    margin-bottom: 0;
    text-align: left;
    letter-spacing: 4px;
    padding-right: 5%;
    margin-bottom: 10%;
}

.royalthirdDivHeading {
    /* font-family: 'Lobster', cursive; */
    font-family: 'Krona One';
    font-size: calc(30px + 1vw);
    font-weight: 700;
    margin-bottom: 0;
    text-align: right;
    letter-spacing: 4px;
    width: 50%;
}

.royalthirdDivHeading,
.royalthirdDivLine span {
    color: #ED4E11;
    font-family: 'Krona One';
    font-size: calc(30px + 1vw);
    font-weight: 700;
    margin-bottom: 0;
    text-align: right;
    letter-spacing: 4px;
    text-decoration: none;
}

.royalthirdDivLine {
    font-family: 'Krona One';
    font-size: calc(30px + 1vw);
    font-weight: 700;
    margin-bottom: 0;
    text-align: center;
    letter-spacing: 4px;
    padding-right: 5%;
    margin-bottom: 10%;
}

.royalSecondDivParagraph {
    width: 25%;
    text-align: right;
    font-family: 'Josefin Sans';
    font-family: 'Light';
    font-size: 24px;
    letter-spacing: 1px;
    margin-top: 3%;
    color: #FFFFFF;
}

.royalSecondDivParagraph span {
    font-family: 'Josefin Sans';
    font-weight: 100;
    color: #ED4E11;
    letter-spacing: 1px;
    font-family: 'regular';
    font-size: 24px;
    text-decoration: none;
}

.royalThirdDivContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
    width: 60%;
}

.royalcandleimagehide {
    display: none;
}

/* //Royal Pride */
.royalPrideSecondDiv {
    background-image: url('../../../../Assets/Products/Liquor/RoyalPride/royalpridesecondimg.png');
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    /* aspect-ratio: 15/7.2; */
}

.royalPrideThirdDiv {
    background-image: url('../../../../Assets/Products/Liquor/RoyalPride/royalprideBg.png');
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    /* aspect-ratio: 16/8.81; */
    height: 100vh;

}

.royalPrideFourthDiv {
    background-image: url('../../../../Assets/Products/Liquor/RoyalPride/royalpridefourthimg.png');
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    /* aspect-ratio: 16/8.81; */
}

.royalprideThirdDivContent {
    display: flex;
    flex-direction: row;
    text-align: justify;
    align-self: flex-end;
    /* padding: 10%; */
}

.royalpridehide {
    display: none;
}

.royalcandleimagesingle {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    object-fit: cover;
}

.royalrowdiv {
    display: flex;
    width: 80%;
    margin-top: 20%;
    justify-content: space-between;
    align-self: center;
    /* align-items: center; */
}

.royalimageText {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 6%;
    margin-bottom: 6%;
    justify-content: space-between;
    align-self: center;
}

.royallogoimage {
    margin-right: 10%;
}

.royalFourthDiv {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.royalleftArrowDiv {
    border-color: white;
    padding: 1%;
    color: #FFFFFF;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    border-left-color: black;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
    display: flex;
    text-align: right;
}

.royalrightArrowDiv {
    border-color: white;
    padding: 1%;
    color: #FFFFFF;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    border-right-color: black;
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
    display: flex;
}

.royalarrowHeading {
    font-size: 21px;
    margin-bottom: 0%;
}

.pre-next-wrap {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    place-self: center;
}

.pre-next-wrap > .royalrightArrowDiv img, 
.pre-next-wrap > .royalleftArrowDiv img {
    margin: 10px !important;
}

@media (min-width: 992px) and (max-width: 1024px) {
    .royalFirstDiv {
        margin-top: 54px;
    }

    .royalFirstDiv > div {
        padding-left: 15px !important;
    }

    .royalprideThirdDivContent > div:nth-child(2) {
        padding-right: 20px !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {

    .royalFirstDiv {
        width: 100%;
        height: 65vh;
        padding-left: 15px;
    }

    .royalFirstDiv > div {
        padding-left: 0 !important;
    }

    .royalImgcontent {
        width: 60%;
        height: 60vh;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .royalRowContent {
        width: 40%;
        height: 60vh;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .royalImgcontent > img {
        width: 100%;
        height: 100%;
    }
    .royalHeading {
        font-size: 40px;
    }

    .royalsecondHeading {
        font-size: 22px;
    }

    .royalParagraph,
    .royalrowdiv {
        width: 100%;
    }

    .royalPrideSecondDiv {
        background-position: bottom;
        height: 80vh;
    }

    
    .royalprideThirdDivContent {
        flex-direction: column-reverse;
    }

    .royalColumnContent {
        padding: 20% 15px 0 15px;
        align-items: center;
    }

    .royalSecondDivParagraph,
    .royalSecondDivHeading {
        width: 100%;
    }

    .royalprideThirdDivContent > div > img {
        height: 50vh !important;
    }

    .royalFourthDiv {
        height: 70vh !important;
    }

    .royalThirdDivContent {
        width: 100% !important;
    }

    .royalPrideFourthDiv {
        background-position: bottom;
        height: 65vh;
    }

    .royalimageText {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-self: baseline;
    }

    .royalFourthDiv  > div:nth-child(1) > img {
        width: 100% !important;
        height: auto !important;
    }
}

@media (max-width: 767px) {
    .royalFirstDiv {
        flex-direction: column;
        height: auto;
        margin-top: 30%;
    }

    .royalFirstDiv > div{
        flex-direction: column;
        padding: 0 !important;
        gap: 50px;
    }

    .royalRowContent {
        width: 100%;     
        padding: 0 15px;
    }

    .royalHeading{
        font-size: 32px;
        line-height: 32px;
        text-align: center;
    }

    .royalsecondHeading {
        font-size: 24px;
        line-height: 45px;
        text-align: center;
    }

    .royalParagraph {
        text-align: center;
        width: 100%;
    }

    .royalImgcontent > img {
        width: 100%;
        height: auto;
    }

    .royalColumnContent {
        align-items: center;
        padding: 20% 15px 10% 15px;
        text-align: center;
    }

    .royalPrideSecondDiv {
        background-position: bottom;
        height: 80vh;
    }

    .royalSecondDivHeading,
    .royalSecondDivHeading {
        font-size: 28px;
        width: 100%;
        text-align: center;
    }

    .royalSecondDivParagraph {
        width: 100%;
        font-weight: 400;
        text-align: right;
        color: #fff;
        margin: 20px 0;
    }

    
    .royalPrideThirdDiv {
        background-position: bottom;
        height: auto;
    }
    
    .royalthirdDivLine {
        padding: 0;
    }

    .royalprideThirdDivContent {
        flex-direction: column-reverse !important;
        padding: 15% 0;
    }

    .royalprideThirdDivContent > div:nth-child(1) {
        padding: 0 !important;
    }

    .royalprideThirdDivContent > div:nth-child(2) {
        padding: 0 15px !important;
    }

    .royalrowdiv {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .royalprideThirdDivContent > div > img {
        height: auto !important;
        width: 100%;
        top: 110px;
        position: relative;
    }

    .royalcandleimagesingle > p {
        font-family: Josefin Sans;
        font-size: 10px;
        font-weight: 300;
        line-height: 11.04px;
        letter-spacing: 0.07em;
        text-align: center;
    }

    .royalcandleimagehide {
        width: 100%;
        height: 100%;
        display: flex;
        align-self: center;
        padding: 5%;
    }

    .royalpridehide {
        display: flex;
        align-self: center;
        flex-direction: column;
        align-items: center;
        margin: 10%;
    }

    .royalprideshow {
        display: none;
    }

    .royalPrideFourthDiv  {
        height: 40vh;
    }

    .royalFourthDiv {
        height: 50vh;
    }

    .royalFourthDiv > div:nth-child(1) img{
        width: 100%;
        height: auto;
    }

}